@font-face {
    font-family: 'Mulish';
    src: url('/Mulish-Regular.ttf') format('truetype');
}
*{
    font-family: Mulish;
}
img {
    object-position: center;
    object-fit: fill;
  }
body{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
  }
grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#info-summary{
    grid-template-columns: 47vw 24vw 24vw;
    gap: 10px;
}
#port-img:hover{
    transform: scale(1.4);
}
main{
    padding: 10px;
    border-bottom: 1px solid black;
}
table{
    border: 1px solid black;
}
.header{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
}
#head-title{
    text-align: center;
    font-size: var(--font-size-head-title,2em);
    animation: moveRight 5s ease forwards;
    background-color: color-mix(red, blue, 50%); 
}
li:has(a) {
    background-color: lightblue;
  }
@keyframes moveRight {
    0% {
      transform: translateX(-10vw);
    }
    100% {
      transform: translateX(10vw);
    }
  }
#portfolio-skills{
    position: relative;
    left: 3%;
    width:94%;
    grid-template-columns: 47% 47%;
}
footer{
    position: absolute;
    max-width: 100%;
    padding:1vh;
}
.summary,.education,.personal-info{
    padding: 1vh 2vw;
    border: 0.5rem groove rgba(128, 128, 128, 0.5);
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    font-size: 1vw;
}
.education,.personal-info{
    grid-row: 1/1;
    grid-column: 2 / 2;
}
.personal-info{
    grid-column:3/3;
}
#comment-button{
    transition: background-color 0.3s ease;
}
#comment-button:hover {
    background-color: #ff7f50;
  }